.vs/
/.gitignore
/ApiAggregator/ApiAggregator.csproj
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.AssemblyInfo.cs
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.pdb
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.sourcelink.json
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.csproj.AssemblyReference.cache
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.AssemblyInfoInputs.cache
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.dll
/ApiAggregator.Test/obj/Release/net8.0/ApiAggregator.Test.AssemblyInfo.cs
/ApiAggregator.Test/obj/Release/net8.0/ApiAggregator.Test.AssemblyInfoInputs.cache
/ApiAggregator.Test/obj/Debug/net8.0/ApiAggregator.Test.csproj.FileListAbsolute.txt
/ApiAggregator.Test/obj/Debug/net8.0/refint/ApiAggregator.Test.dll
/ApiAggregator.Test/obj/Debug/net8.0/ref/ApiAggregator.Test.dll
/ApiAggregator.Test/bin/Debug/net8.0/appsettings.json
/ApiAggregator.Test/bin/Debug/net8.0/appsettings.Development.json
/ApiAggregator.Test/bin/Debug/net8.0/ApiAggregator.Test.pdb
/ApiAggregator.Test/bin/Debug/net8.0/ApiAggregator.Test.dll
/ApiAggregator.Test/bin/Debug/net8.0/ApiAggregator.pdb
/ApiAggregator.Test/bin/Debug/net8.0/ApiAggregator.dll
/ApiAggregator.Test/bin/Debug/net8.0/ApiAggregator.exe
/ApiAggregator/obj/Debug/net8.0/ApiAggregator.AssemblyInfo.cs
/ApiAggregator/obj/Debug/net8.0/ApiAggregator.AssemblyInfoInputs.cache
*.json
/ApiAggregator/.vs/ApiAggregator/CopilotIndices/0.2.1671.27212/CodeChunks.db
/ApiAggregator/.vs/ProjectEvaluation/apiaggregator.metadata.v9.bin
/ApiAggregator/.vs/ProjectEvaluation/apiaggregator.projects.v9.bin
/ApiAggregator/.vs/ApiAggregator/v17/DocumentLayout.json
/ApiAggregator/.vs/ApiAggregator/v17/DocumentLayout.backup.json
/ApiAggregator/.vs/ApiAggregator/v17/.suo
/ApiAggregator/.vs/ApiAggregator/FileContentIndex/b819b884-721a-4073-94b3-69fdd3bf5aca.vsidx
/ApiAggregator/.vs/ApiAggregator/FileContentIndex/b36ff989-9dc0-4323-a099-5a23a2846b8a.vsidx
/ApiAggregator/.vs/ApiAggregator/FileContentIndex/7db9a29f-59bd-4959-95c0-ab6e2ad1621b.vsidx
/ApiAggregator/.vs/ApiAggregator/FileContentIndex/c8114817-df1e-48c4-8129-447baec60fbf.vsidx
/ApiAggregator/.vs/ApiAggregator/FileContentIndex/0e736249-4152-4698-be3b-0aa2584c1d39.vsidx
/ApiAggregator/.vs/ApiAggregator/DesignTimeBuild/.dtbcache.v2
/ApiAggregator/.vs/ApiAggregator/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-wal
/ApiAggregator/.vs/ApiAggregator/CopilotIndices/0.2.1671.27212/SemanticSymbols.db-shm
